:root { 
    --background-color: #fff;
    --text-color: #121416d8;
    --link-color: #543fd7;
}

html[data-theme='light'] {
    --background-color: #fff;
    --text-color: #121416d8;
    --link-color: #543fd7;
}

html[data-theme='dark'] {
    --background-color: rgb(59,94,78);
    --text-color: #F7F8F8;
    --link-color: #828fff;
}

.theme-toggle-container {
    position:absolute;
    top: 12px;
    right: 25px;
}



body {
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    padding: 2%;
}

/* ... Your existing styles ... */

#theme-toggle .d-block-dark,
#theme-toggle .d-block-light {
    display: none;
}

[data-theme='dark'] #theme-toggle .d-block-dark {
    display: block;
}

[data-theme='light'] #theme-toggle .d-block-light {
    display: block;
}

/* ... Your existing styles ... */






.mainHeader1{
font-size: 24px;

}
.mainHeader2{
    font-size: 18px;
}
.mainHeader3{
    font-size: 18px;
}

.nav-container {
    display: flex;
    width: 100%;
    height: 57px;
    justify-content:space-evenly;
    align-items: normal;
    background-color: var(--background-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
}

.nav-link:hover {
    background-color: var(--link-color);
    color: #fff; /* Change text color on hover for better visibility */
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: flex-start;
        height: auto; /* Change to auto to allow content to determine height */
    }

    .nav-link {
        margin-bottom: 10px;
    }

    /* Added styles for the menu dropdown */
    .menu-dropdown {
        display: none;
        position: absolute;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .menu:hover .menu-dropdown {
        display: block;
    }
}
