:root {
  --background-color: #ffffff;
  --text-color: #b0a3ff;
  --link-color: #543fd7;
}

              html[data-theme="dark"] {
                --background-color: rgb(72, 72, 129);
                --text-color: #ffffff;
                --link-color: rgba(82, 18, 102, 0.76);

                .body-container {
                  background-color: #8269ce;
                  padding: 20px;
                  width: 90%; /* Set the width of the container */
                  margin: auto; /* This will center the container horizontally */
                  box-sizing: border-box; /* Include padding in the element's total width and height */
              }
                .nav-container {
                  position: fixed;
                  top: 0; /* Align to the top */
                  left: 0; /* Align to the left */
                  right: 0; /* Stretch to the right */
                  height: 50px; /* Adjust height as needed */
                  background-color: #433370;
                  display: flex; /* Use flexbox for alignment */
                  justify-content: space-evenly; /* Adjust this as per your design */
                  
              }
              
label[for="subject"],
  label[for="country"],
  label[for="lname"],
  label[for="fname"] {
    color: #000000; /* Sets text color to black */
  }
}

            html[data-theme="light"] {
              --background-color: rgb(202, 202, 202);
              --text-color: #000000d8;
              --link-color: #b0a3ff;

              .body-container {
                background-color: #8e7ec0;
                padding: 20px;
                --text-color: #ffffffd8;
                width: 90%; /* Set the width of the container */
                margin: auto; /* This will center the container horizontally */
                box-sizing: border-box; /* Include padding in the element's total width and height */
            }
              .nav-container {
               --text-color: #000000d8;
                height: 50px; /* Adjust height as needed */
                display: flex; /* Use flexbox for alignment */
                justify-content: space-evenly; /* Adjust this as per your design */
                background-color: #cabaf8;
              
              }
            }
/* CONTACT BOX */ 
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #543fd7; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #543fd7;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #543fd7;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  padding: 5vw; /* Use viewport width for responsive padding */
  max-width: 100%; /* Ensure the body doesn't exceed the viewport width */
}
.pageHeader {
  text-align: center; /* Centers text horizontally */
  height: 100px; /* Provides some height to the div */
  position: flex;
  top: 100px;
  left: 150px;
  z-index: 1000; /* Set a higher z-index to ensure it's above other content */
}
.theme-toggle-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000; /* Set a higher z-index to ensure it's above other content */
}
/* Style inputs with type="text", type="email", select elements and textareas */
input[type=text], input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #543fd7; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}


#theme-toggle {
  /* Your button styles */
  justify-content: center;
}

[data-theme="dark"] .theme-icon,
[data-theme="light"] .theme-icon {
  display: block;
}

.mainHeader1 {
  text-decoration-line: underline;
  align-items: normal;
  font-size: 32px;
  padding-left: 12px;
}

.mainHeader2 {
  font-size: 18px;
}

.mainHeader3 {
   font-size: 18px;
}

.nav-bar-list {
  display: flex; /* This makes the container a flex container */
  justify-content: center; /* This centers the items horizontally in the container */
  flex-direction: row; /* This ensures the items are laid out in a row */
  list-style-type: none; /* Removes bullet points from list items */
   /* Removes padding */
}

.nav-link {
  margin: 0 10px; /* Adds some space between the links */
  text-decoration: none; /* Removes underline from links */
  color: var(--text-color); /* Sets the text color */
}

.nav-link:hover {
  background-color: var(--link-color); /* Adds a background color on hover */
  background-color: #45a049; /* Changes text color on hover */
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

@media only screen and (max-width: 700px) {
    body {
          /* For tablets: */
              .mainHeader1 {
                font-size: 18px;
              }
              .nav-link {
                font-size: 12px; /* Adjust this font size as needed */
              }
        .col-s-1 {width: 8.33%;}
        .col-s-2 {width: 16.66%;}
        .col-s-3 {width: 25%;}
        .col-s-4 {width: 33.33%;}
        .col-s-5 {width: 41.66%;}
        .col-s-6 {width: 50%;}
        .col-s-7 {width: 58.33%;}
        .col-s-8 {width: 66.66%;}
        .col-s-9 {width: 75%;}
        .col-s-10 {width: 83.33%;}
        .col-s-11 {width: 91.66%;}
        .col-s-12 {width: 100%;}
      padding: 100px; /* Adjust padding for smaller screens */
      width: 100%; /* Make the content width 100% for better responsiveness */
    }
  }
    @media only screen and (min-width: 768px) {
        /* For desktop: */
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
      }
  
    .pageHeader {
      left: 0;
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    .theme-toggle-container {
      right: 0;
    }
  
    .nav-container {
      top: 100px;
      height: auto;
      width: 100%;
      padding: 10px; /* Adjust padding for smaller screens */
      box-sizing: border-box;
    }
  
    .nav-link {
      margin-bottom: 10px;
    }
/* ... DISPLAY BOTH ICONS SEPERATLEY ... */

#light-icon {
  display: inline;
}

#dark-icon {
  display: none;
}

[data-theme="dark"] #light-icon {
  display: none;
}

[data-theme="dark"] #dark-icon {
  display: inline;
}


.image-button {
  display: inline-block; /* Aligns the link like a button */
  background-color: #f5f5f5; /* Light grey background, change as needed */
  color: #000; /* Text color */
  text-decoration: none; /* Removes underline from links */
  padding: 10px 20px; /* Adds padding inside the button */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 3px rgba(0,0,0,0.2); /* Optional: adds a subtle shadow */
  margin: 5px; /* Adds some space around the buttons */
}

.image-button img {
  vertical-align: middle; /* Aligns the image vertically in the middle */
  width: 20px; /* Sets the width of the image */
  height: auto; /* Keeps the aspect ratio of the image */
  margin-right: 8px; /* Adds a small space between the image and the text */
}